.topic-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 10px;
}
/*test3*/
/*Group*/
.screen-comment {
    display: flex;
}

.screen {
    width: calc(100vw - 450px);
    height: calc(100vh - 150px);
    background-color: white;
    margin-right: 24px;
    border-radius: 8px;
}

/* .screen div{
    width: 59vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    margin:auto;
    margin-top:12px;
    background-color: rgb(202, 197, 197);
    z-index:3
} */

/* .circle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle div img{
    width: 50px;
    height: 50px;
    margin-right: 50px;
} */

.word {
    display: flex;
    margin-right: 15px;
    flex-direction: column;
    width: 309px;
    height: calc(100vh - 150px);
    background-color: white;
    align-items: center;
}

.word1 {
    margin-top: 10px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 10px;
    width: 280px;
    height: 30px;
}

.word1 p {
    margin-top: -5px;
    text-align: center;
    font-size: 14px;
    -webkit-transform: scale(0.5);
}

/*
.word2{
    position: relative;
    top: 75vh;
   
    
}
.word2 button{
    width: 3.5vw;
    height: 6vh;
    border:none;
    cursor: pointer;
}
.word2 input{
    width: 17vw;
    height: 6vh;   
    background-color: rgba(238, 237, 237, 1);
    border:none;
}
*/

#chatBot {
    resize: none;
    width: 280px;
    height: calc(100vh - 200px);
    border: none;
    background-color: #ffd9d9;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat {
    display: flex;
    border-radius: 7px;
}

#chatUser {
    resize: none;
    width: 240px;
    height: 25px;
    background-color: rgba(238, 237, 237, 1);
    border: none;
    margin-right: 2px;
}

#chatPost {
    resize: none;
    width: 40px;
    height: 25px;
    font-size: 7px;
    border: none;
    cursor: pointer;
}