/*로고*/
.topic-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}

.topic-logoName {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginFrame {
    margin-top: 5px;
    width: 400px;
    height: 45px;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #BBBBBB;
}

.login_btn {
    margin-top: 50px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    background-color: #E37272;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.login_ask1 {
    margin-top: 45px;
    font-size: 15px;
    margin-bottom: 20px;
}

.login_ask1 a:link {
    color: black;
}

.login_ask1 a:visited {
    color: black;
}

.login_ask1 a {
    text-decoration: none;
}

.login_ask2 {
    font-size: 12px;
}

.login_ask2 a:link {
    color: black;
}

.login_ask2 a:visited {
    color: black;
}

.login_ask2 a {
    text-decoration: none;
}

/*눈*/
.input .eyes {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 2px;
    height: 30px;
    font-size: 22px;
    cursor: pointer;
}