.res-topic {
    width: 340px;
    height: 220px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.res-topic {
    width: 340px;
    height: 220px;
    margin-bottom: 5px;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-size: 15px;
    font-weight: bold;
}

.ShortFrame {
    width: 270px;
    height: 40px;
    background-color: #EFEEEE;
    border-radius: 3px;
    border: 1px solid #EFEEEE;

}

.Frame {
    width: 270px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #EFEEEE;
    background-color: #EFEEEE;

}

.Word {
    font-size: 7px;
    font-weight: bold;
    margin-bottom: 10px;
}

.test {
    margin-bottom: 1%;
}

.an_Frame {
    width: 270px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #EFEEEE;
    background-color: #EFEEEE;
    margin-bottom: 1%;
}

.btn_id {
    /**버튼**/
    background-color: #c8c8c8;
    border-radius: 5px;
    width: 100px;
    height: 45px;
    font-size: 13px;
    border: 1px;
    color: #000000;
}

.submit_res {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 25px;
    margin-top: 70px;
}

.btn_res_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_res {
    /**버튼**/
    background-color: #e37272;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #E37272;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 50px;
}