/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* VARIABLES CSS */
:root {
    --nav--width: 92px;

    /* Colores */
    --first-color: #ec6d6d;
    --bg-color: #eb8b8b;
    --sub-color: #f89393;
    --white-color: #fff;

    /* Fuente y tipografia */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /* z index */
    --z-fixed: 100;
}

/* BASE */
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    
    margin: 0;
    padding: 2rem 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* l NAV */
.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav--width);
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}

/* NAV */
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav__toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}

.nav__logo {
    color: var(--white-color);
    font-weight: 600;
}

.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav__link:hover {
    background-color: var(--first-color);
}

.nav__icon {
    font-size: 1.25rem;
}

.nav_name {
    font-size: var(--small-font-size);
}

/* Expander menu */
.expander {
    width: calc(var(--nav--width) + 9.25rem);
}

/* Add padding body*/
.body-pd {
    padding: 2rem 0 0 16rem;
}

/* Active links menu */
.active {
    background-color: var(--first-color);
}

/* COLLAPSE */
.collapse {
    grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
    justify-self: flex-end;
    transition: .5;
}

.collapse__menu {
    display: none;
    padding: .75rem 2.25rem;
}

.collapse__sublink {
    color: var(--sub-color);
    font-size: var(--small-font-size);
}

.collapse__sublink:hover {
    color: var(--white-color);
}

/* Show collapse */
.showCollapse {
    display: block;
}

/* Rotate icon */
.rotate {
    transform: rotate(180deg);
    transition: .5s;
}


/*notice board*/


.notice-board{
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    
    align-items: center;
}
.notice-board>button{
    position: relative;
    left: 57vh;
    bottom: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.notice-board>div{
    
    width: 60vw;
    height: 5vh;
    background-color: white;
    border: 1px solid rgba(130, 130, 130, 1); 
}
#board-cover{
    background-color: #eb8b8b;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
/*topic logo*/
.topic-logo{
    display: flex;
    justify-content: center;
    padding-right: 8px;
}
#topic{
    position: relative;
    top: 3.2rem;
}
#search{
display: flex;
justify-content: center;
padding: 10px;;
padding-right: 8px;

}
#search input{
    width: 40vw;
    height: 31px;
    margin-right: 2px;
    border-radius: 6px;
    background-color: rgba(217, 217, 217, 1);
    border: none;
}
#search button{
    
    border-radius: 6px;
    border:none;
    cursor: pointer;
}



/*Group*/
.screen-comment{
    display: flex;
    justify-content: center;

}
.screen{
    width: 64vw;
    height: 90vh;
    background-color: white;
    margin-right: 24px;
    border-radius: 8px;
    
}
.screen div{
    width: 59vw;
    height: 85vh;
    display: block;
    margin:auto;
    margin-top:22px;
    background-color: rgb(202, 197, 197);
    z-index:3
}

.word{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: px;
    width: 25vw;
    height:90vh;
    background-color: white;
    align-items: center;
}
.word1{
    display:table;
    position: relative;
    top:31px;
    
    background-color: rgba(217, 217, 217, 1);
    border-radius: 15px;
    text-align: center;
    width: 20vw;
    height: 5vh;
}
.word1 h1{
    display:table-cell;
    vertical-align: middle;
    font-size:12px;
}
/*
.word2{
    position: relative;
    top: 75vh;
   
    
}
.word2 button{
    width: 3.5vw;
    height: 6vh;
    border:none;
    cursor: pointer;
}
.word2 input{
    width: 17vw;
    height: 6vh;   
    background-color: rgba(238, 237, 237, 1);
    border:none;
}
*/

#chatBot{
    resize:none; width:21vw; height: 60vh;
    border:none;
    background-color: #ffd9d9;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.chat{
    display: flex;
    position: relative;
    top: 5vh;
    border-radius: 7px;
}
#chatUser{
    resize: none;
    width: 17vw;
    height: 6vh;   
    background-color: rgba(238, 237, 237, 1);
    border:none;
    margin-right: 2px;
    font-family: 'Poppins', sans-serif;
    
}

#chatPost   {
    resize: none;
    width: 3.5vw;
    height: 6vh;
    border:none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif; 
}
