/*시간표*/
.table{
    align-items: center;
    text-align: center;
    border: 0px solid gray;
    justify-content: center;
    display: flex   ;
}   

tr,td,th{
    border: 1px solid gray;
    width: 100px;
    height: 70px;
}
.day{
    font-size: 14px;
}
.time{
    font-size: 10px;
}
.table-topic{
    width: 350px;
    height: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 40%;
}