.topic-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}

.topic-logoName {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}


.findidFrame{
    margin-top: 5px;
    width: 400px;
    height: 45px;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #BBBBBB;
}

.login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.findid_btn{
    margin-top: 50px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    background-color: #E37272;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
  
.findid_ask {
    margin-top: 45px;
    font-size: 15px;
    margin-bottom: 20px;
}

.findid_ask a:link {
    color: black;
}

.findid_ask a:visited {
    color: black;
}

.findid_ask a {
    text-decoration: none;
}
