* {
    color: #40403E;
}

.Main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------*/

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

/*Main-학과공지*/
.Depart {
    width: 419px;
    height: 278px;
    border-radius: 10px;
    background-color: #343434;
    color: white;
    margin-right: 30px;
    padding: 25px;
    font-size: 14px;
}

.Depart_Note_id {
    display: flex;
    margin-left: 50px;
    margin-top: 25px;
}

.Depart_Note {
    display: flex;
    margin-left: 50px;
    margin-top: 16px;
}

.Depart_Note_ti {
    margin-right: 30px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.Depart_Note_not {
    color: white;
    font-size: 11px;
}

/*Main-시간표*/
.schedule {
    width: 419px;
    height: 278px;
    border-radius: 10px;
    background-color: #F4E6E6;
    color: black;
    padding: 25px;
    font-size: 14px;
}

.schedule_Note_id {
    display: flex;
    margin-left: 50px;
    margin-top: 25px;
}

.schedule_Note {
    display: flex;
    margin-left: 50px;
    margin-top: 16px;
}

.schedule_Note_ti {
    margin-right: 30px;
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.schedule_Note_not {
    color: black;
    font-size: 11px;
}

.To_scheluler {
    width: 50px;
    height: 20px;
    font-size: 7px;
    border-radius: 50px;
    background-color: #E37272;
    border: none;
    position: absolute;
    margin-left: 255px;
    margin-top: -10px;
    cursor: pointer;
}

/*---------------------------*/

.two_cation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 71px;
}

/*
.Noti {
    width: 564px;
    height: 278px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 25px;
    font-size: 14px;
    margin-right: 60px;
}

.Noti_Note_id {
    display: flex;
    margin-left: 50px;
    margin-top: 25px;
}

.Noti_Note {
    display: flex;
    margin-left: 50px;
    margin-top: 16px;
}

.Noti_Note_ti {
    margin-right: 30px;
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.Noti_Note_not {
    color: black;
    font-size: 11px;
}

/*Main-map*/
.main_map iframe {
    width: 246px;
    height: 391px;
    border-radius: 25px;
}
/* * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
} */

.tab {
    top: 0;
    left: 0;
    width: 560px;
}

.flex {
    display: flex;
    height: 50px;
    margin-top: 70px;
}

.panel {
    width: 140px;
    border-radius: 5px;
    height: 40px;
    display: block;
    background-color: black;
    text-align: center;
    line-height: 50px;
    color: white;
    border: 1px solid black;
}

.active {
    background-color: white !important;
    color: black !important;
}

.content {
    display: none;
    border: 1px solid black;
    width: 560px;
    height: 280px;
}

.on {
    display: flex !important;
    
}
.tab_map{
    display: flex;
    align-items: center;
    justify-content: center;
    
}