/*topic*/
.topic-logo{
    display: flex;
    justify-content: center;
    padding-right: 8px;
}

#topic{
    position: relative;
    top: 3.2rem;
}


/*map*/
body, html{
    background-color: #EFEEEE;
}
.map iframe{
    width: 65vw;
    height: 65vh;
    border: 10px solid rgb(244, 194, 194);
}

.map{
    display: flex;
    justify-content: center;
}

.message{
    position: relative;
    right: 5vw;
    display: flex;
    justify-content: right;
}

.message input{
    border:none;
    background-color: #c1c0c0;
    height: 3.5vh;
    width: 12vw;
}

.message img{
    position: relative;
    right: 1.5vw;
    cursor: pointer;
}