.res_topic_logo{
    align-items: center;
    justify-content: center;
    display: flex;
}
.res-topic{
    margin-top: 40px; 
    width: 224px; 
    height: 86px; 
    margin-bottom: 30px;

}

.all {
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

span {
    font-size: 15px;
    font-weight: bold;
}
.ShortFrame{
    width: 250px;
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    margin-top: 5px;
    

}
.ShortFrame_1{
    width: 250px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    margin-top: 5px;
    margin-bottom: 10px;
}
.Frame{
    width: 360px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;

}

.Word {
    font-size: 7px;
    font-weight: bold;
    margin-bottom: 5px;
}

.test {
    margin-bottom: 1%;
}
.an_Frame{
    width: 360px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    margin-bottom: 15px;
    margin-top: 5px;
}
.blank{
    width: 360px;
    height: 45px;
    background: #FFFFFF;
    border: 0.5px solid #BBBBBB;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.bot_1{
    width: 100px;
    height: 45px;
    background: #4A4A4A;
    border: 0.5px solid #BBBBBB;
    border-radius: 5px;
    color: #FFFFFF;
}
.bot_2{
    width: 100px;
    height: 45px;
    background: #4A4A4A;
    border: 0.5px solid #BBBBBB;
    border-radius: 5px;
    color: #FFFFFF;
}
.bot_3{
    width: 250px;
    height: 40px;
    background: rgba(79, 109, 217, 1);
    border: 0.5px solid #BBBBBB;
    border-radius: 5px;
    color: #000000;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: white;
}
.bot_3_1{
    align-items: center;
    justify-content: center;
    display: flex;
}

body{
    background: #E1E1E1;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
}
